.promo {
    min-height: 1000px;
    background: url('../img/main_bg.png') no-repeat 30%/cover;
    header {
        width: 100%;
        margin: 0 auto;
        height: 106px;
        nav {
            display: flex;
            justify-content: center;
        }
    }
    &__menu {
        width: 100%;
        display: flex;
        
        &__logo {
            padding-top: 30px;
        }
        &__list {
            padding-top: 43px;
            list-style-type: none;
            display: flex;
            gap: 40px;
        }
        &__item {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
        &__social {
            padding-top: 34px;
            display: flex;
            i {
                font-size: 25px;
                color: #fff;
            }
        }
        &__img {
            padding-right: 20px;
            &:nth-child(2) {
                padding-right: 0;
            }
        }
        &__close {
            display: none;
        }
    }
    &__block {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__divider {
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: .3
    }
    &__title {
        padding-top: 200px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        line-height: 67px;
    }
    &__video {
        padding-top: 60px;
        display: flex;
        align-items: center;
        &__link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            background: #8D86C9;
            border-radius: 100%;
            z-index: 9;
            &::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                border: 1px solid #FFFFFF;
                z-index: -1;
            }
        }
        &__descr {
            padding-left: 30px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
        }
    }
    &__services {
        padding-top: 276px;
        display: grid;
        grid-template-columns: repeat(4, 315px);
        grid-template-rows: auto auto;
        column-gap: 12px;
        &__block {
            position: relative;
            width: 315px;
            height: 151px;
            background: #8D86C9;
        }
        &__title {
            position: absolute;
            top: 35px;
            left: 35px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
        }
        &__text {
            position: absolute;
            top: 77px;
            left: 35px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
        }
        &__link {
            position: absolute;
            top: 83px;
            left: 250px;
        }
    }
}

.corts {
    margin-top: 150px;
    min-height: 500px;
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 376px);
        column-gap: 64px;
        justify-content: center;
    }
    &__block {
        width: 376px;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &-1 {
            background: url('../img/corts.png') center center/cover no-repeat;
        }
        &-2 {
            background: url('../img/cort_grass.png') center center/cover no-repeat;
        }
        &-3 {
            background: url('../img/cort_hard.png') center center/cover no-repeat;
        }
        &::before {
            content: '';
            position: absolute;
            width: 416px;
            height: 500px;
            border: 1px solid #F7ECE1;
        }
        &__text {
            position: absolute;
            top: 334px;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 38px;
            color: #FFFFFF;
            
        }
    }   
}

.club {
    margin-top: 150px;
    min-height: 654px;
    &__block {
        position: relative;
        display: flex;
    }
    &__img {
        padding-top: 70px;
        padding-left: 110px;
    }
    &__descr {
        position: absolute;
        padding-left: 146px;
        padding-top: 70px;
        left: 550px;
        width: 636px;
        height: 654px;
        background: #F7ECE1;
        z-index: -1;
        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            color: #333333;

        }
        &__text {
            padding-top: 20px;
            width: 430px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }
        &__subtitle {
            padding-top: 35px;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 29px;
            color: #333333;
        }
        &__list {
            padding-left: 23px;
            list-style-type: none;
            &-item {
                position: relative;
                width: 400px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #333333;
                padding-top: 25px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -23px;
                    width: 8px;
                    height: 8px;
                    background: #8D86C9;
                }
            }
        }
    }
}

.trener {
    margin-top: 150px;
    min-height: 523px;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #333333;
    }
    &__block {
        width: 196px;
        position: relative;
        padding-top: 75px;
    }
    &__border{
        margin: 0 auto;
        width: 196px;
        height: 240px;
        border: 1px solid #F7ECE1;
    }
    &__img {
        /* padding-left: 15px; */
        img {
            margin: 0 auto;
            height: 240px;
            width: 166px;
        }
    }
    &__corousel {
        position: relative;
        width: 100%;
        
        .slick-prev, .slick-next{
            width: 45px;
            height: 45px;
            background: #8D86C9;
            border: none;
            position: absolute;
            top: -47px;
            right: 84px;
        }
        .slick-next {
            right: 25px;
        }
    }
    &__name {
        margin-top: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 29px;
        text-align: center;
        color: #333333;
    }
    &__descr {
        width: 196px;
        margin-top: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #333333;
    }
}

.price {
    margin-top: 150px;
    min-height: 455px;
    &__wrapper {
        display: grid;
        grid-template-columns: 526px 636px;
        column-gap: 134px;
    }
    
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        color: #333333; 
    }
    &__list {
        margin-top: 75px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 526px;
        height: 60px;
        background: #8D86C9; 
        margin-bottom: 30px;
        padding: 0 30px 0 30px;
        &:nth-child(4) {
            margin-bottom: 0;
        }
        &-title {
            
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 29px;
            color: #FFFFFF; 
        }
    }
    &__services {
        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            color: #333333;  
        }
        &__corousel {
            width: 636px;
            margin: 0 auto;
            margin-top: 75px;
            .slick-prev, .slick-next{
                width: 45px;
                height: 45px;
                background: #8D86C9;
                border: none;
                position: absolute;
                top: -132px;
                right: 65px;
            }
            .slick-next {
                right: 0px;
            }
        }
        &__block {
            margin: 0 auto;
            width: 100%;
        }
        &__border {
            position: relative;
            width: 636px;
            height: 330px;
            border: 1px solid #F7ECE1;
        }
        &__img {
            padding: 30px 25px;
            img {
                width: 586px;
            }
        }
        &__text {
            position: absolute;
            top: 232px;
            left: 65px;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            color: #FFFFFF;

        }
    }
}

footer {
    margin-top: 150px;
    min-height: 96px;
    background: #F7ECE1;
    .footer__menu {
        display: flex;
        justify-content: space-between;
        &__rules {
            padding-top: 38px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #333333;
            opacity: 0.3;
        }
        &__list {
            display: flex;
            list-style-type: none;
            gap: 40px;
            align-items: center;
        }
        &__item {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            padding-top: 38px;
            a {
                text-decoration: none;
                color: #333333;
            }
        }
        &__social {
            padding-top: 35px;
            display: flex;
            i {
                font-size: 25px;
                color: #8D86C9;
            }
        }
        &__img {
            padding-left: 19px;
            &:nth-child(1) {
                padding-left: 0;
            }
        }
    }
}